<p id="notice"><%= notice %></p>

<h1>Planes</h1>

<div>
  <%= form_with url: "/planes", method: :post do |form| %>
    <%= form.label :start, "Start date:"%>
    <%= form.date_field :start %>
    <%= form.label :end, "End date:"%>
    <%= form.date_field :end %>
    <br>
    <%= form.submit "Set Period" %>
    <% form.submit :enabled %>
  <% end %>
</div>  


<table>
  <thead>
    <tr>
      <th>Plane number</th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= plane.icao24 %></td>
        <td><%= plane.visible %></td>
        <td><%= link_to 'Show', plane %></td>
        <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= form_with url: "/planes", method: :delete do |form| %>
    <%= form.submit "Delete list of planes" %>
  <% end %>
</div>  
