<p id="notice"><%= notice %></p>

<p>
  <strong>Plane number</strong>
  <%= @plane.icao24 %>
</p>

<div>
  <% if @plane.visible? %>
    <%= form_with model: @plane, method: :post do |form| %>
      <%= form.label :start, "Start date:"%>
      <%= form.date_field :start %>
      <%= form.label :end, "End date:"%>
      <%= form.date_field :end %>
      <br>
      <%= form.submit "Request data" %>
    <% end %>
  <% end %>
</div>  
  
</p>

<%= render @plane.flights %>

<%= link_to 'Back', planes_path %>
