<p id="notice"><%= notice %></p>


<table>

    <tbody>
        <tr>
          <td><%= flight.callsign %></td>
          <td><%= flight.firstSeen %></td>
          <td><%= flight.lastSeen %></td>
          <td><%= flight.estDepartureAirport %></td>
          <td><%= flight.estArrivalAirport %></td>


        </tr>
    </tbody>
  </table>

 