<p id="notice"><%= notice %></p>

<p>
  <strong>Callsign:</strong>
  <%= flight.callsign %>
</p>

<p>
  <strong>Estdepartureairport:</strong>
  <%= flight.estDepartureAirport %>
</p>

<p>
  <strong>Estarrivalairport:</strong>
  <%= flight.estArrivalAirport %>
</p>

<p>
  <strong>Firstseen:</strong>
  <%= flight.firstSeen %>
</p>

<p>
  <strong>Last seen</strong>
  <%= flight.lastSeen %>
</p>