<%= form_with(model: flight) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :callsign %>
    <%= form.text_field :callsign %>
  </div>

  <div class="field">
    <%= form.label :estDepartureAirport %>
    <%= form.text_field :estDepartureAirport %>
  </div>

  <div class="field">
    <%= form.label :estArrivalAirport %>
    <%= form.text_field :estArrivalAirport %>
  </div>

  <div class="field">
    <%= form.label :firstSeen %>
    <%= form.datetime_select :firstSeen %>
  </div>

  <div class="field">
    <%= form.label :lastSeen %>
    <%= form.datetime_select :lastSeen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
